:root {
	--accent-color1: #0cf;
	--accent-color2: #933;
	--midline-color: #FFF;
	--outline-color: #09C;
	--accent-text-color: #0F0;

	--main-color1: #CB9;
	--main-color2: #B98;
	--text-color: #F00;
	--bg-color: #000;

}

body {
	text-align: center; font-size: 14pt;
	font-family: Helvetica, Trebuchet MS, Sans-Serif;
	color: var(--text-color);
	height: 1000px;
	background-color: var(--bg-color);
	margin: 20px;
	padding: 0px;
	height: 100%;
}

div {
	font-family: Helvetica, Trebuchet MS, Sans-Serif;
	outline: 1px solid var(--outline-color);
	margin: 1px;
}

#container {
	padding: 1px;
	background-color: var(--midline-color);
	
}

#header {
	padding: 50px;
	text-align: center;
	font-size: 35px;
	color: var(--accent-text-color);
	background: linear-gradient(to bottom right, var(--accent-color1) 0%, var(--accent-color2) 100%);
}


#content {
	padding: 50px;
	min-height: 100%;
	background: linear-gradient(to bottom right, var(--main-color1) 0%, var(--main-color2) 100%);
	margin-top: 3px;
	margin-bottom: 3px;
}

#footer {
	padding: 30px;
	text-align: center; font-size: 10pt;
	color: var(--accent-text-color);
	background: linear-gradient(to bottom right, var(--accent-color2) 0%, var(--accent-color1) 100%);
}

















